BasedOnStyle: Microsoft
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Allman
ColumnLimit: 80
PointerAlignment: Left
BinPackArguments: false
BinPackParameters: false
SpaceBeforeParens: ControlStatements
SpaceBeforeAssignmentOperators: true
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: Empty
Cpp11BracedListStyle: true
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
IndentCaseLabels: true
DerivePointerAlignment: false
AccessModifierOffset: -4
