window {
  overflow: hidden;
  margin: 0px;
  border: 1px solid #333232;
  border-radius: 15px;
  background-color: #191b1c44;
}

#input {
  margin: 5px;
  border: 1px solid transparent;
  color: #d8dee9;
  border-radius: 8px;
  background-color: #0f0f0f;
}

#input:focus {
  border: 1px solid #333232;
}

#inner-box {
  margin: 10px 5px;
  border: none;
  border-radius: 10px;
  background-color: #191b1c;
}

#outer-box {
  overflow: hidden;
  margin: 5px;
  border: none;
  border-radius: 10px;
  background-color: #191b1c;
}

#scroll {
  overflow: hidden;
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: #d8dee9;
}

#entry:selected {
  outline: none;
  border: none;
  border-radius: 15px;
  background-color: #ff5b2e;
}

#entry:selected #text {
  background-color: #ff5b2e;
}
